*{
    padding: 0;
    margin: 0;
    outline: 0;
}

.todo-section{
    width: 500px;
    margin: 100px auto;
}
.todo-header {
	background: #CFCFCF;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #9F9F9F;
}
.todo-header span {
	width: 4%;
	color: #616160;
	background: #ddd;
	padding: 10px 9px;
}
.todo-header h2 {
	width: 92%;
	text-align: center;
	padding-top: 5px;
}
.todo-item {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #ddd;
	margin: 5px auto;
	align-items: center;
}
.todo-item span {
	width: 6%;
	text-align: center;
	background: #f3f3f3;
	padding: 8px 0;
}
.todo-item p {
	width: 90%;
	text-align: center;
}
.todo-new-item {
	display: flex;
	justify-content: space-between;
	border: 1px solid #bfbfbf;
}
.todo-new-item input {
	border: none;
	padding: 8px;
	font-weight: 500;
}


.todo-new-item button {
	padding: 0 10px;
	border: none;
}